body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    font-size: 24px; /* Establece el mismo tamaño de fuente para h1 y h2 */
    margin-top: 20px;
    text-align: center;
}

h1 {
    color: blue; /* Color azul para h1 */
}

h2 {
    color: green; /* Color verde para h2 */
}

/* Agrega un nuevo estilo para el texto rojo */
.red-text {
    color: red;
    text-align: right;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #dc3545;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Center the button horizontally */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button:hover {
    background-color: #c82333;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}