body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin: 10px;
    display: inline-block;
}

button {
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #333;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
    color: #fff;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
    color: #555;
}
